{
    "symbols": ["GOLD", "EURUSD"],
    "timeframe": 15,
    "volume": 0.1,
    "rate_tp": 0,
    "rate_sl": 0,
    "algorithm": "rsi",
    "TA_RSI": [
        {
            "kind": "rsi", "length": 14, "signal_indicators": true,
            "xa": 70, "xb": 30
        }
    ]
}
